# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# NapCat
napcat/config/*
!napcat/config/napcat.json
napcat/qq/
napcat/logs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db