services:
  bot:
    build: .
    volumes:
      - ./data:/app/data
    environment:
      - MEME_DB_PATH=/app/data/memes.db
      - DRIVER=~fastapi+~websockets
      - HOST=0.0.0.0
      - PORT=8080
      - SUPERUSERS=["245706877", "1847111531"]
      - COMMAND_START=["/"]
      # Assuming OneBot is running on the host machine at port 3001
      - ONEBOT_WS_URLS=["ws://host.docker.internal:3001"]
      - ONEBOT_ACCESS_TOKEN=napcat
      - MEMES_COMMAND_PREFIXES=["/",""]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
